.garage {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &Loading {
    display: flex;
    justify-content: center;

    &Title {
      font-size: 35px;
      font-family: "Permanent Marker", cursive;
    }
  }

  &Title {
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
  }

  &Pagination {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &Title {
      font-size: 23px;
      line-height: 20px;
      margin-bottom: 15px;
      font-family: "Permanent Marker", cursive;
    }

    &Wrapper {
      display: flex;
      gap: 30px;

      &Btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
        cursor: pointer;
        padding: 4px 45px;
        border-radius: 7px;
        font-size: 17px;
        transition: 0.3s ease-out;
        height: 30px;
        background-color: transparent;
        color: #fff;

        &:hover {
          border-color: #81e211;
          color: #81e211;
        }

        &:disabled {
          border-color: rgb(82, 72, 72);
          color: rgb(82, 72, 72);
        }
      }
    }
  }

  .carItem {
    display: flex;
    flex-direction: column;

    &Title {
      font-size: 20px;
      font-family: "Uchen", serif;
    }

    &Top {
      gap: 10px 10px;
      margin-bottom: 15px;
      display: flex;

      &Btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
        cursor: pointer;
        padding: 4px 25px;
        border-radius: 7px;
        font-size: 17px;
        transition: 0.3s ease-out;
        background-color: transparent;
        color: #fff;

        &:hover {
          border-color: #81e211;
          color: #81e211;
        }
      }
    }

    &Wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      &Btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid;
        cursor: pointer;
        padding: 4px 10px;
        border-radius: 7px;
        font-size: 17px;
        transition: 0.3s ease-out;
        background-color: transparent;

        &:nth-child(1) {
          border-color: rgb(10, 209, 10);
          color: rgb(10, 209, 10);
        }

        &:nth-child(2) {
          border-color: rgb(175, 33, 33);
          color: rgb(175, 33, 33);
        }

        &:disabled {
          border-color: rgb(82, 72, 72);
          color: rgb(82, 72, 72);
        }
      }

      .carItemRoad {
        border-bottom: 3px solid #fff;
        display: flex;
        width: 100%;
      }

      .carItemTrack {
        width: 100%;
      }

      .carItemImg {
        max-width: 135px;
        position: relative;
      }

      .carItemFinish {
        max-width: 155px;
        width: 100%;

        &Flag {
          width: 40px;
          position: relative;
          transform: translateX(-85%);
          z-index: -1;
        }
      }
    }
  }
}
