.settings {
  display: flex;
  &Top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: stretch;
    justify-content: center;
  }

  &Bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &Btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #fff;
      cursor: pointer;
      padding: 5px 15px;
      border-radius: 7px;
      font-size: 17px;
      transition: 0.3s ease-out;
      background-color: transparent;
      color: #fff;

      &:hover {
        border-color: #81e211;
        color: #81e211;
      }
    }
  }
}
