.winners {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &TitleWinners {
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
  }

  &TitlePage {
    font-size: 23px;
    line-height: 20px;
    margin-bottom: 15px;
    font-family: "Permanent Marker", cursive;
  }

  &SortBy {
    cursor: pointer;
  }

  &Table {
    display: flow-root;
    align-items: center;

    thead th {
      user-select: none;

      &:nth-child(4),
      &:nth-child(5) {
        cursor: pointer;

        span {
          margin-left: 5px;
        }
      }
    }

    th {
      border: 2px solid #fff;
      border-radius: 5px;
      padding: 12px;
      font-size: 25px;
      font-family: "Uchen", serif;
      vertical-align: middle;
      text-align: left;
    }
  }

  &Car {
    max-width: 110px;
    width: 100%;
  }

  &Pagination {
    display: flex;
    gap: 30px;

    &Btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #fff;
      cursor: pointer;
      padding: 5px 40px;
      border-radius: 7px;
      font-size: 17px;
      transition: 0.3s ease-out;
      background-color: transparent;
      color: #fff;

      &:hover {
        border-color: #81e211;
        color: #81e211;
      }

      &:disabled {
        border-color: rgb(82, 72, 72);
        color: rgb(82, 72, 72);
      }
    }
  }
}
