.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  height: 70px;

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &Title {
      font-size: 20px;
      color: #fff;
    }

    &Wrapper {
      display: flex;
      gap: 20px;

      &Btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        padding: 5px 30px;
        border-radius: 7px;
        font-size: 17px;
        transition: 0.3s ease-out;

        &:hover {
          background-color: #81e211;
        }
      }
    }
  }
}
