.settingsTopWrapper {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;

  &TextInput {
    border: none;
    padding: 4px 0 4px 12px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  &ColorInput {
    height: 30px;
    min-width: 50px;
  }

  &Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 4px 45px;
    border-radius: 7px;
    font-size: 17px;
    transition: 0.3s ease-out;
    min-width: 115px;
    background-color: transparent;
    color: #fff;

    &:hover {
      border-color: #81e211;
      color: #81e211;
    }

    &:disabled {
      border-color: rgb(82, 72, 72);
      color: rgb(82, 72, 72);
    }
  }
}
