.settings {
  display: flex;
  &Top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: stretch;
    justify-content: center;

    &Wrapper {
      display: flex;
      gap: 6px;
      justify-content: center;
      align-items: center;

      &TextInput {
        border: none;
        padding: 4px 0 4px 12px;
        border-radius: 4px;
        width: 100%;
        font-size: 16px;

        &:focus {
          outline: none;
        }
      }

      &ColorInput {
        height: 30px;
        min-width: 50px;
      }
    }
  }

  &Bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 7px;
    font-size: 17px;
    transition: 0.3s ease-out;
    min-width: 115px;
    height: 30px;

    &:hover {
      background-color: #81e211;
    }
  }
}
