@font-face {
  font-family: "PermanentMarker";
  src: url("../assets/fonts/PermanentMarker-Regular.ttf") format("tff");
}

@font-face {
  font-family: "Uchen";
  src: url("../assets/fonts/Uchen-Regular.ttf") format("tff");
}

body {
  background-color: rgb(45, 40, 77);
}

#root {
  color: #fff;
  padding-bottom: 30px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.garage {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
