.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.settings {
  display: flex;
  &Top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: stretch;
    justify-content: center;
  }
}
